body{
    /* background-image: url(../images/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner.jpg); */
    background: rgb(9, 41, 73);
    background-repeat: no-repeat;
    background-size:cover;
    border: 15px solid rgb(223, 223, 228);
    margin: 0%; 
}
.heading{
    font-size: 550%;
    margin-left: 5%; 
    color: rgb(232, 233, 243);
    margin-top: 2%;
    text-shadow: 4px 2px 4px #0a0a0a;
}
.sub-div{
    display: flex;
}
.img-div{
  margin-left:5%;
}
.result-div{
  margin-left: -120%;
}
.btn2{
  margin-left: 2%;
  /* padding: 2%; */
}
.image{
  width: 25%;
  margin: 0% 1% 1% 1%;
}
.display-image{
  width:95%;
  height:95%;
  margin:4% 3%;
}
.div-size{
  padding: 2%;
  width:85%;
  height: 85%;
  /* border: 2px solid white; */
  margin-top: 5%;
  background: rgb(247, 243, 243);
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
.btn {
    border: 2px solid rgb(196, 194, 194);
    color: black;
    background-color: white;
    border-radius: 0px;
    font-size: 15px;
  }

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
*::-webkit-scrollbar {
    width: 6px; 
 }
*::-webkit-scrollbar-thumb {
  background:  rgb(18, 18, 19);
  border-radius: 25px;
}